@use "../presets" as *;

.author {
  background-color: $color-blue;

  &__container {
    display: flex;

    padding-top: 63px;
    padding-bottom: 104px;

    gap: 100px;
  }


  &__text {
    margin-bottom: 30px;

    font-size: $font-size-30;
    line-height: 40px;
  }

  &__description {
    margin-bottom: 6px;
  }



  &__foto {
    display: block;
  }
}

