@use "../presets" as *;
@use "../mixins" as *;

.author {
  background-color: $color-blue;

  &__container {
    display: flex;
    justify-content: space-between;

    padding-top: 53px;
    padding-bottom: 104px;

    @include  xl-min {
      gap: $gap 96px;
    }
    @include  xl {
      gap: $gap $gap;
    }
    @include  sm {
      flex-wrap: wrap;
      justify-content: center;

      padding-bottom: 50px;
    }
  }

  &__text-wrap {
    @include sm {
      text-align: center;
    }
  }


  &__text {
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: $font-size-30;
    line-height: 40px;

    @include  md {
      font-size: $font-size-25;
      line-height: 30px;
    }
  }

  &__description {
    margin-bottom: 10px;
  }




  &__picture {
    @include  sm {
      order: -1;
    }
  }

  &__foto {
    @include  md-min {
      max-width: 310px;
    }
    @include  md {
      max-width: 250px;
    }
    @include  sm {
      max-width: 100%;
    }
  }
}

