@use "../presets" as *;
@use "../mixins" as *;

.banner {
  &__container {
    display: grid;
    align-items: center;

    padding-top: 125px;
    padding-bottom: 172px;

    gap: $gap-sm;
    @include xl-min {
      grid-template-areas: "tl im" "ds im" "ac im" "ft im";
      grid-template-columns: 1fr 1fr;
    }
    @include xl {
      padding-top: 75px;
      padding-bottom: 75px;

      text-align: center;

      grid-template-areas: "tl" "ds" "im" "ac" "ft";
    }
    @include sm {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;

    font-size: $font-size-65;
    font-weight: $font-weight-600;
    line-height: 70px;

    grid-area: tl;
    @include xl {
      font-size: $font-size-50;
      line-height: 50px;
    }
    @include sm {
      margin-bottom: 20px;

      font-size: $font-size-40;
    }
    @include xx {
      font-size: $font-size-30;
      line-height: 40px;
    }
  }

  &__description {
    margin-bottom: 40px;

    font-size: $font-size-25;
    line-height: 35px;

    grid-area: ds;
    @include xl-min {
      max-width: 470px;
    }
    @include sm {
      font-size: $font-size-20;
      line-height: 25px;
    }
  }

  &__action {
    display: flex;

    margin-bottom: 15px;

    gap: $gap-sm;
    grid-area: ac;
    @include xl {
      justify-content: center;
    }
  }

  &__footer-text {
    font-size: $font-size-15;
    line-height: 25px;

    grid-area: ft;
  }

  &__picture {
    grid-area: im;
  }

  &__img {
    @include xl {
      width: 100%;
      margin-bottom: 30px;
    }
    @include xl-xx {
      width: 75%;
    }
  }
}
