@use "../presets" as *;

.benefits-container {
  display: flex;
  justify-content: space-between;
  gap: 138px;
  align-items: center;
}

.benefits {

  padding-top: 90px;
  padding-bottom: 150px;

  &__title {
    font-weight: $font-weight-600;
font-size: $font-size-50;
line-height: 60px;
margin-bottom: 30px;

  }

  &__description {
font-size: $font-size-20;
line-height: 30px;
margin-bottom: 30px;
  }

  &__link {
    padding: 15px 15px 15px 0;
font-weight: $font-weight-600;
font-size: $font-size-20;
line-height: 30px;
  }
}