@use "../presets" as *;
@use "../mixins" as *;

.benefits {

  @include  md {
  }

  &__container-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 150px;

    gap: 180px;
    @include  xl {
      padding-top: 50px;
      padding-bottom: 50px;

      gap: $gap-xl;
    }
    @include  md {
      flex-direction: column;
    }
  }

  &__container-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
padding-top: 90px;
    padding-bottom: 150px;

    gap: 180px;
    @include  xl {
padding-top: 50px;
      padding-bottom: 50px;

      gap: $gap-xl;
    }
    @include  md {
      flex-direction: column;
    }
  }

  &__text-box {
    @include xl {
      flex: 1;
    }
    @include  md {
      text-align: center;
    }
  }


  &__title {
    margin-bottom: 30px;

    font-size: $font-size-50;
    font-weight: $font-weight-600;
    line-height: 60px;

    @include  xl {
      font-size: $font-size-40;
      line-height: 40px;
    }
    @include  xs {
      font-size: $font-size-35;
      line-height: 40px;
    }
  }

  &__description {
    margin-bottom: 30px;

    font-size: $font-size-20;
    line-height: 30px;
  }

  &__link {
    padding: 15px 15px 15px 0;

    font-size: $font-size-20;
    font-weight: $font-weight-600;
    line-height: 30px;
  }

  &__img-box {
    @include  xl-min {
      min-width: 632px;
    }
    @include  xl {
      flex: 1;
    }
  }

  &__img {
    width: 100%;
  }
}

