@use "../presets" as *;

.boost {
  padding-bottom: 190px;

  &__title {
    text-align: center;
    font-weight: $font-weight-600;
font-size: $font-size-50;
line-height: 60px;
margin-bottom: 90px;
  }

  &__box {
    display: flex;
    gap: 40px;
  }
}
.boost-item {
flex: 1;

  &__img {
    min-height: 200px;
    margin-bottom: 64px;
    margin-top: auto;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: $font-weight-600;
font-size: $font-size-30;
line-height: 40px;
margin-top: auto;
margin-bottom: 34px;
  }

  &__description {
font-size: $font-size-20;
line-height: 30px;
  }

  &__link {
font-size: $font-size-20;
line-height: 30px;
  }
}
