@use "../presets" as *;
@use "../mixins" as *;

.boost {
  padding-bottom: 190px;

  @include  xl {
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 78px;

    text-align: center;

    font-size: $font-size-50;
    font-weight: $font-weight-600;
    line-height: 60px;

    @include xl-xs {
      margin-bottom: 50px;

      font-size: $font-size-40;
      line-height: 50px;
    }
    @include  xs {
      font-size: $font-size-30;
      line-height: 40px;
    }
  }

  &__box {
    display: grid;

    gap: $gap-xl $gap;
    @include lg-min {
      justify-content: space-between;

      grid-template-columns: repeat(3, minmax(50px, 410px));
    }
    @include lg-sm {
      justify-content: space-between;

      grid-template-columns: repeat(2, minmax(50px, max-content));
    }
  }
  .boost-item {
    @include  sm {
      display: flex;
      flex-direction: column;

      text-align: center;
    }

    &__picture {
      display: flex;
      align-items: center;

      min-height: 200px;
      margin-bottom: 50px;

      @include  lg {
        justify-content: center;

        margin-bottom: 20px;
      }
    }



    &__title {
      margin-bottom: 34px;

      font-size: $font-size-30;
      font-weight: $font-weight-600;
      line-height: 40px;

      @include  lg {
        margin-bottom: 10px;

        text-align: center;
      }
    }

    &__description {
      margin-bottom: 26px;

      font-size: $font-size-20;
      line-height: 30px;

      @include  lg {
        margin-bottom: 15px;
      }
    }

    &__link {
      padding: 15px 15px 15px 0;

      font-size: $font-size-20;
      line-height: 30px;
    }
  }
}
