@use "../presets" as *;

.logo {
  min-height: 455px;
  padding: 105px 0;

  background-color: $color-orange-lg;

  &__title {
    max-width: 710px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;

    font-size: $font-size-50;
    font-weight: $font-weight-600;
    line-height: 60px;
  }

  &__img-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    gap: 102px;
  }
}
