@use "../presets" as *;

.rating {
  background-color: $color-brown;

  &__container {
    display: flex;
    align-items: center;

    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__foto {
    margin-right: 70px;
  }

  &__title {
    width: 460px;
    margin-right: 110px;

    font-size: $font-size-35;
    font-weight: $font-weight-600;
    line-height: 50px;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 168px;

    border-left: 1px solid $color-black;
  }

  &__logo {
    margin-left: 70px;
  }
}
