@use "../presets" as *;
@use "../mixins" as *;

.rating {
  background-color: $color-brown;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 85px;
    padding-bottom: 85px;

    @include  ul {
      justify-content: center;
    }
    @include  xl {
      padding-top: 50px;
      padding-bottom: 50px;

      gap: 30px 0;
    }
  }

  &__picture {
    @include  ul-min {
      margin-right: 66px;
    }
    @include  ul {
      margin-right: 30px;
    }
  }



  &__title {
    max-width: 461px;

    font-size: $font-size-35;
    font-weight: $font-weight-600;
    line-height: 50px;

    @include  ul-min {
      margin-right: 124px;
    }
    @include  ul-lg {
      margin-right: 20px;
    }
    @include  lg {
      text-align: center;
    }
    @include  sm {
      font-size: $font-size-30;
      line-height: 40px;
    }
  }


  &__logo-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include  lg-min {
      min-height: 168px;
    }
    @include sm-min {
      border-left: 1px solid $color-black;
    }
    @include  lg {
      justify-content: space-evenly;

      gap: $gap-lg;
    }
  }

  &__logo {
    @include  sm-min {
      margin-left: 70px;
    }
  }
}
