@use "../presets" as *;

.use-lokalise {
  margin-bottom: 150px;
  padding-top: 120px;

  background-color: $color-brown-lg;

  &__title {
    margin-bottom: 80px;

    text-align: center;

    font-size: $font-size-50;
    font-weight: $font-weight-600;
    line-height: 60px;
  }

  &__box {
    display: grid;
    justify-content: space-around;

    padding-bottom: 150px;

    text-align: center;

    grid-column-gap: 20px;
    grid-row-gap: 75px;
    grid-template-columns: repeat(3, minmax(50px, max-content));
    justify-items: center;
  }
}

.item-use {
  // Пересмотреть этот узел
  max-width: 300px;

  &__foto {
    margin-bottom: 18px;
  }

  &____img {

  }

  &__title {
    text-align: center;

    font-size: $font-size-25;
    font-weight: $font-weight-600;
    line-height: 35px;
    margin-bottom: 20px;
  }

  &__description {
    text-align: center;

    font-size: $font-size-18;
    line-height: 25px;
  }
}

