@use "../presets" as *;
@use "../mixins" as *;

.use-lokalise {
  margin-bottom: 150px;
  padding-top: 120px;

  background-color: $color-brown-lg;

  @include xl {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  &__title {
    margin-bottom: 80px;

    text-align: center;

    font-size: $font-size-50;
    font-weight: $font-weight-600;
    line-height: 60px;

    @include xl-xs {
      margin-bottom: 50px;

      font-size: $font-size-40;
      line-height: 50px;
    }
    @include  xs {
      font-size: $font-size-30;
      line-height: 40px;
    }
  }

  &__box {
    display: grid;

    padding-bottom: 150px;

    text-align: center;

    grid-column-gap: 20px;
    grid-row-gap: 75px;
    @include lg-min {
      justify-content: space-around;

      grid-template-columns: repeat(3, minmax(50px, 328px));
    }
    @include  lg-sm {
      justify-content: space-evenly;

      padding-bottom: 50px;

      grid-template-columns: repeat(2, minmax(50px, max-content));
    }
    @include  sm {
      padding-bottom: 50px;
    }
  }
}

.item-use {
  &__picture {
    @include  sm-min {
      margin-bottom: 18px;
    }
    @include sm {
      margin-bottom: 5px;
    }
  }

  &__title {
    margin-bottom: 20px;

    text-align: center;

    font-size: $font-size-25;
    font-weight: $font-weight-600;
    line-height: 35px;
  }

  &__description {
    text-align: center;

    font-size: $font-size-18;
    line-height: 25px;
  }
}
