@use "../presets" as *;
@use "../mixins" as *;
.header {
  border-bottom: 1px solid $color-grey-lg;
}

.container--header {
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  padding-top: 22px;
}

.header-logo {
  margin-right: 35px;
}

.header-menu {
  
  &__list {
    display: flex;
    gap: 30px;
    @include unlist;
}

&__link {
  display: block;
  padding: 15px;
  font-size: $font-size-15;
line-height: 20px;
}
}

.header-authorization {
  margin-left: auto;

  &__login {
    margin-right: 6px;
  }
}