@use "../presets" as *;

.footer-bottom {
  display: flex;
  justify-content: space-between;

  padding-top: 52px;
  padding-bottom: 43px;
}
.footer-logo {
  display: flex;

  gap: 15px;



  &__text {
    max-width: 301px;

    font-size: $font-size-12;
    line-height: 15px;
  }
}

.footer-copyright {
  margin-right: 76px;

  &__text {
    font-size: $font-size-12;
    line-height: 15px;
  }
}

