@use "../presets" as *;
@use "../mixins" as *;

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 52px;
  padding-bottom: 43px;

  gap: $gap;
  @include  md {
    align-content: center;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.footer-logo {
  display: flex;

  gap: 15px;
  @include  md {
    align-items: center;
    flex-direction: column;

    text-align: center;
  }

  &__img {
    max-width: 100px;
  }



  &__text {
    font-size: $font-size-12;
    line-height: 15px;

    @include  md-min {
      max-width: 301px;
    }
  }
}

.footer-copyright {
  @include  md-min {
    margin-right: 76px;
  }
  @include  md {
    text-align: center;
  }

  &__text {
    font-size: $font-size-12;
    line-height: 15px;
  }
}
