@use "../presets" as *;
@use "../mixins" as *;

.footer {
  background-color: $color-grey;
}

.footer-main {
  border-bottom: 1px solid $color-black;

  @include xl {
    gap: 70px;
  }
  @include lg-min {
    display: flex;

    padding-top: 95px;
    padding-bottom: 95px;

    gap: 140px;
  }
  @include lg {
    flex-wrap: wrap;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__menu-box {
    display: flex;
    flex-wrap: wrap;

    @include xl-min {
      gap: 40px;
    }
    @include xl {
      gap: $gap-xl;
    }
    @include md {
      justify-content: space-evenly;
    }
  }
}

.studies {
  display: flex;
  flex-direction: column;

  @include lg-min {
    max-width: 300px;
  }
  @include lg {
    max-width: 450px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    text-align: center;
  }

  &__title {
    margin-bottom: 28px;

    font-size: $font-size-40;
    font-weight: $font-weight-600;
    line-height: 50px;

    @include xl-sm {
      font-size: $font-size-35;
      line-height: 40px;
    }
    @include sm {
      font-size: $font-size-30;
      line-height: 30px;
    }
  }

  &__foto {
    margin-bottom: 28px;

    @include lg-min {
      max-width: 300px;
      max-height: 300px;
    }
    @include lg {
      max-width: 100%;
    }
  }

  &__logo {
    width: 80px;
    height: 32px;
    margin-bottom: 11px;
  }

  &__desription {
    margin-bottom: 5px;

    font-size: $font-size-20;
    line-height: 30px;
  }

  &__link {
    padding: 10px 10px 10px 0;

    font-size: $font-size-20;
    font-weight: $font-weight-600;
    line-height: 30px;
  }
}

.footer-menu {
  @include md-min {
    width: 180px;
  }
  @include md-sm {
    flex-basis: 220px;
  }
  @include sm {
    flex-basis: 100%;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__list {
    @include unlist;
  }

  &__item {
    margin-bottom: 12px;
  }

  &__link {
    padding: 10px 10px 10px 0;

    transition: 0.4s;

    font-size: $font-size-15;
    line-height: 15px;

    &:hover {
      color: $color-orange;
    }
  }
}
