@use "../presets" as *;

.footer-bottom {
  padding-top: 52px;
  padding-bottom: 43px;
  display: flex;
  justify-content: space-between;

  &__text {
  }
}
.footer-logo {
  display: flex;
  gap: 15px;

  &__img {
  }

  &__text {
    max-width: 301px;
font-size: $font-size-12;
line-height: 15px;
  }
}

.footer-copyright {
  margin-right: 76px;

  &__text {
    font-size: $font-size-12;
line-height: 15px;
  }
}

