
$color-grey: #EEEEEE;
$color-grey-sm: #808080;
$color-grey-dark: #333333;
$color-grey-lg:#CCCCCC;
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #FF6336;
$color-orange-lg: #FF9C7D;
$color-brown: #DABC98;
$color-brown-lg:#FFF8E4;
$color-blue: #C9E8F2;

