
$color-grey: #eeeeee;
$color-grey-sm: #808080;
$color-grey-dark: #333333;
$color-grey-lg: #cccccc;
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ff6336;
$color-orange-lg: #ff9c7d;
$color-brown: #dabc98;
$color-brown-lg: #fff8e4;
$color-blue: #c9e8f2;

