$font-family: "Graphik LCG", sans-serif;
// $font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
// $font-size-18: 18px;
// $font-size-21: 21px;
$font-size-25: 25px;
// $font-size-36: 36px;
$font-size-50: 50px;
$font-size-65: 65px;

// $font-weight-400: 400;
// $font-weight-500: 500;
$font-weight-600: 600;
// $font-weight-700: 700;

$ul: 1380px; //1290 изменить на это значение
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;

$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;
