$font-family: "Graphik LCG", sans-serif;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-25: 25px;
$font-size-30: 30px;
$font-size-35: 35px;
$font-size-40: 40px;
$font-size-50: 50px;
$font-size-65: 65px;

$font-weight-600: 600;

$ul: 1290px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
$gap: 20px;

$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;
