@use "../presets" as *;
.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.container {
  width: calc(100% - 40px), 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
width: 120px;
min-height: 45px;
border: none;
background-color: $color-orange;
}

.btn--secondary {
  background-color: $color-white;
  width: 120px;
  min-height: 45px;
  border: 1px solid $color-black;
}